/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1468px) {
    .title-section {
        font-size: 60px;
        line-height: 80px;
    }
    .blue {
        width: 804px;
        height: 457px;

    }
    .left-padding {
        width: 45%;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px) {
    .square-color-1 {
        height: 20%;
        width: 25%;
    }
    .square-color-2 {
        right: 25%;
        top: 40%;
        height: 10%;
        width: 10%;
    }
    .white-line-1 {
        right: 20%;
    }
    .white-line-2 {
        right: 10%;
    }
    .square-white,
    .square-violet {
        width: 5rem;
        height: 5rem;
    }
    .square-white-1 {
        right: 5rem;
        bottom: 5rem;
    }
    .verticale-creative span {
        font-size: 60px;
    }
    .second-paragraph-text-small {
        display: none;
    }
    .blue {
        width: 688px;
        height: 392px;
    }
    .element {
        width: 4rem;
        height: 4rem;
        right: 2rem;
        bottom: 2rem;
        background-size: cover;
    }
    .grey-lines {
        top: calc(10% + 126px);
        right: 140px;
    }
    .square-white-opacity {
        width: 4rem;
        height: 4rem;
        right: 6rem;
        bottom: 6rem;
    }
    .title-section {
        font-size: 40px;
        line-height: 60px;
        padding-top: 15px;
        letter-spacing: -2px;
    }
    .video {
        right: 145px;
    }
    .left-padding {
        width: 40%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1100px) {
    .text {
        padding: 20px 0;
    }
    .btn-opacity {
        width: 160px;
        height: 56px;
        line-height: 56px;
    }
    .grey-lines {
        right: 170px;
        top: 45%;
    }
    .grey-line-1 {
        width: 30px;
    }
    .grey-line-2 {
        width: 60px;
    }
}

@media only screen and (max-width : 1000px) {
    .content {
        width: 40%;
        padding: 0 2%;
    }
    .blue {
        height: 100%;
    }
    .video {
        top: 115px;
        right: 130px;
    }
    .title-section {
        padding-top: 0;
        line-height: 40px;
    }
    .verticale-creative img {
        height: 30%;
    }
    .creative-picture {
        height: 34vw;
    }
    .square-white, .square-violet {
        width: 4rem;
        height: 4rem;
    }
    .square-white-1 {
        right: 4rem;
        bottom: 4rem;
    }
    .square-white-opacity {
        width: 3rem;
        height: 3rem;
        right: 5rem;
        bottom: 5rem;
    }
}
@media only screen and (max-width : 990px) {
    .contacts-info {
        flex-direction: column;
        align-items: center;
    }
    .contacts-info > div {
        text-align: center;
    }
}
@media only screen and (max-width : 900px) {
     .white-section {
         flex-direction: column;
         padding:0;
         align-items: center;
     }
    .content {
        padding: 0;
        margin: 3%;
    }
    .picture {
        padding: 0;
        margin: 3%;
        width: 80%;
    }
    .verticale-creative span {
        font-size: 50px;
        letter-spacing: 0;
    }
    .video {
        top: 210px;
        right: 110px;
    }
}
@media only screen and (max-width : 790px) {
    .video {
        top: 170px;
    }
    .verticale-creative span {
        font-size: 38px;
    }
    .video {
        top: 130px;
        right: 80px;
    }
    .verticale-creative img {
        height: 25%;
    }
    .title-grid {
        font-size: 20px;
    }
    .subtitle-grid {
        font-size: 14px;
    }
    .prodjects {
        flex-direction: column;
    }
    .prodject ul {
        display: none;
    }
    .prodject {
        padding-bottom: 5%;
    }
    .contacts-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contacts-top > div {
        width: 80%;
    }
    .right-part-footer {
         width: 38%;
    }
}
@media only screen and (max-width : 630px) {
    .title-grid {
        font-size: 16px;
    }
    .subtitle-grid {
        font-size: 12px;
    }
    h1 {
        font-size: 80px;
    }
    .subtitle-header {
        font-size: 24px;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .footer > div {
        width: 60%;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    }
    .grid-item-1 {
        grid-area: 1 / 1 / 3 / 3;
    }
    .grid-item-2 {
        grid-area: 3 / 1 / 4 / 3;
    }
    .grid-item-3 {
        grid-area: 4 / 1 / 5 / 3;
    }
    .grid-item-4 {
        grid-area: 1 / 3 / 3 / 4;
    }
    div.grid-item-5 {
        display: none;
    }
    .grid-item-6 {
        grid-area: 3 / 3 / 4 / 5;
    }
    .grid-item-7 {
        grid-area: 4 / 3 / 5 / 5;
    }
    .grid-item-8 {
        grid-area: 5 / 1 / 7 / 3;
    }
    .grid-item-9 {
        grid-area: 5 / 3 / 7 / 5;
    }
    .footer > div {
        width: 90%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}