* {
    transition: all 1s ease;
}
body {
    font-family: 'Poppins', sans-serif;
}
a {
    color: inherit;
}
.white-section {
    padding: 5% 0;
    display: flex;
}
.content {
    width: 30%;
    padding: 0 4%;
}
.title-section {
    color: #2a2d2e;
    font-size: 80px;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: -4px;
}
.text {
    color: #2a2d2e;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding: 35px 0;
}
.btn-opacity {
    color: #2a2d2e;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 32px;
    border: 1px solid #2a2d2e;
    width: 190px;
    height: 64px;
    line-height: 64px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
input[type="text"],
select {
    border: none;
    border-bottom: 1px solid;
    width: 95%;
    height: 50px;
}
    /*HEADER*/
header {
    background-image: url("../img/bg-header.png");
    background-position: center;
    background-size: cover;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.logo {
    height: 48px;
}
.logo img {
    width: 100%;
}
.menu {
    font-size: 16px;
}
.main-header {
    text-align: center;
    color: white;
}
h1 {
    font-size: 120px;
    font-weight: 600;
    letter-spacing: -6px;
}
.subtitle-header {
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
}
header .btn-opacity {
    border-color: white;
    color: white;
    margin-top: 3%;
}
.arrow-down {
    text-align: center;
    font-size: 16px;
    display: block;
    color: white;
    margin-bottom: 20px;
}
    /*HEADER*/

.creative-picture {
    background-image: url(../img/img-writing.png);
    background-size: 99%;
    background-repeat: no-repeat;
    width: 65%;
    height: 36vw;
}
.gradient-bg {
    background-image: linear-gradient(to right, rgba(168, 237, 234, 0) 0%, #fed6e3 100%);
    height: 100%;
    display: flex;
    position: relative;
}
.left-padding {
    width: 50%;
    height: 100%;
}
.verticale-creative {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    z-index: 7;
}
.reative {
    width: 25%;
}
.verticale-creative span {
    transform: rotate(-90deg);
    color: #ffffff;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -4px;
    display: block;
    padding-left: 40%;
}
.verticale-creative img {
    height: 35%;
}
.square-color {
    background-image: linear-gradient(to right, #a8edea 0%, #fed6e3 100%);
}
.square-color-1 {
    width: 195px;
    height: 112px;
    position: absolute;
    right: 0;
    top: 20%;
}
.square-color-2 {
    width: 95px;
    height: 56px;
    position: absolute;
    right: 195px;
    top: calc(20% + 112px);
}
.square-white {
    width: 101px;
    height: 101px;
    background-color: #ffffff;
}
.square-white-1 {
    position: absolute;
    right: 101px;
    bottom: 101px;
}
.square-white-2 {
    position: absolute;
    right: 0;
    bottom: 0;
}
.white-line-1 {
    background-color: #fff;
    height: 2px;
    width: 50px;
    position: absolute;
    right: 175px;
    top: calc(20% + 20px);
}
.white-line-2 {
    background-color: #fff;
    height: 2px;
    width: 95px;
    position: absolute;
    right: 100px;
    top: calc(20% + 25px);
}
.text-small {
    color: #72787a;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 5%;
}
.blue {
    width: 1148px;
    height: 653px;
    background-color: #2a2d2e;
    background-image: linear-gradient(to right, #fed6e3 0%, #a8edea 100%);
    position: relative;
    display: flex;
}
.picture-abstraction {
    height: 100%;
    width:100%;
    z-index: 3;
    position: relative;
}
.square-violet {
    width: 101px;
    height: 101px;
    background-color: #7443ff;
    position: absolute;
    right: 0;
    bottom: 0;
}
.element {
    width: 89px;
    height: 89px;
    background-image: url("../img/Elements.png");
    position: absolute;
    right: 28px;
    bottom: 28px;
}
.square-white-opacity {
    width: 73px;
    height: 72px;
    border: 2px solid #ffffff;
    position: absolute;
    right: 118px;
    bottom: 118px;
}
.grey-lines {
    transform: rotate(-45deg);
    position: absolute;
    right: 175px;
    top: calc(20% + 157px);
}
.grey-line-1 {
    background-color: #bfadca;
    height: 2px;
    width: 50px;
    margin-bottom: 5px;
}
.grey-line-2 {
    background-color: #bfadca;
    height: 2px;
    width: 90px;
    margin-left: 15px;
}
.white-play {
    width: 81px;
    height: 81px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.video {
    justify-content: space-evenly;
    position: relative;
    right: 165px;
    top: 70px;
}

    /*section gallery*/
.gallery {
    text-align: center;
    padding: 3% 0;
}
ul.menu-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #818586;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.9px;
}
ul.menu-gallery li+li {
    padding-left: 10px;
}
ul.menu-gallery li:hover {
    color: #2a2d2e;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    grid-gap: 10px;
    padding: 5%;
}
.grid-container > div {
    min-height: 20vw;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.grid-item-1 {
    background-image: url(../img/img1.png);
    grid-area: 1 / 1 / 3 / 3;
}
.grid-item-2 {
    background-image: url(../img/img2.png);
    grid-area: 1 / 3 / 2 / 5;
}
.grid-item-3 {
    background-image: url(../img/img3.png);
    grid-area: 2 / 3 / 3 / 5;
}
.grid-item-4 {
    background-image: url(../img/img4.png);
    grid-area: 3 / 1 / 5 / 2;
}
.grid-item-5 {
    background-image: url(../img/img5.png);
    grid-area: 3 / 2 / 5 / 4;
}
.grid-item-6 {
    background-image: url(../img/img6.png);
    grid-area: 3 / 4 / 4 / 5;
}
.grid-item-7 {
    background-image: url(../img/img7.png);
    grid-area: 4 / 4 / 5 / 5;
}
.grid-item-8 {
    background-image: url(../img/img8.png);
    grid-area: 5 / 1 / 7 / 3;
}
.grid-item-9 {
    background-image: url(../img/img9.png);
    grid-area: 5 / 3 / 7 / 5;
}
.subtitle-grid {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
}
.title-grid {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1.2px;
}
.grid-text {
    margin: 2%;
    text-align: left;
}
        /*section gallery*/

    /*section select-project*/
.select-project {
    padding: 5% 10%;
    background: url("../img/bg-select.png");
    background-size: 100%;
    background-position: center;
}
.select-project * {
    color: #fff;
    text-align: center;
}
.select-project .text {
    padding: 0;
}
.prodjects {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.prodject {
    padding: 0;
    margin: 0 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
.prodject img {
    padding: 5px;
}
.prodject img:hover {
    padding: 4px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.line-through {
    text-decoration: line-through;
}
.title-project {
    font-size: 24px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -1.2px;
}
.prodject .btn-opacity {
    border-color: white;
    border-radius: 25px;
    width: 170px;
    height: 50px;
    line-height: 50px;
    margin-top: 15px;
}
.prodject .btn-opacity:hover {
    background-color: #7443ff;
    border-color: #7443ff;
}
    /*section select-project*/

    /*section contacts*/
.contacts {
    padding: 5% 10%;
}
.contacts-top > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 15px;
}
.contacts .btn-opacity {
    margin: 25px 0;
}
.contacts-top {
    display: flex;
}
.violet-border-left {
    color: #7443ff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.64px;
    padding-left: 30px;
    margin: 10px 0;
    border-left: 2px solid #7443ff;
    line-height: 24px;
}

.contacts > div {
    line-height: 50px;
}
input:hover {
    border-color: #7443ff;
}
input + i {
    margin-left: -25px;
    color: rgba(116, 67, 255, 0.5);
    opacity: 0.5;
}
.contacts-top-right-part {
    display: flex;
    flex-direction: column;
}
.contacts-info {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.title-contacts {
    color: #2a2d2e;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1.5px;
    padding: 12% 0 3% 0;
}
.contacts-info > div {
    padding-right: 15px;
}
.contacts-info li {
    color: #2a2d2e;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
    /*section contacts*/

    /*section social*/
.social {
    background-color: #7443ff;
    background-image: linear-gradient(to right, #93eef9 0%, #7443ff 100%);
    display: flex;
    justify-content: space-around;
}
.soc-item {
    text-align: center;
    color: white;
    padding: 4vw 0;
    margin: 0;
    width: 100%;
}
.soc-item p{
    padding-top: 3vw;
    font-weight: 300;
    font-size: 14px;
    opacity: 0;
}
.soc-item:hover p{
    opacity: 1;
}
.soc-item + .soc-item {
    border-left: 1px solid rgba(255, 255, 255, 0.31);
}

    /*section social*/

    /*FOOTER*/
.footer {
    margin: 5% 5% 0 5%;
    padding-bottom: 5%;
    border-bottom: 9px solid #14171d;
    display: flex;
    justify-content: space-between;

}
.left-part-footer {
    width: 50%;
}
.right-part-footer {
    width: 30%;
}
.footer-text {
    color: #72787a;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
.logo-footer {
    display: inline-block;
    height: 70px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.name-company-footer {
    color: #262b40;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -1.04px;
    display: inline-block;
    line-height: 70px;
}
.cesis-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.subtitle-right-part-footer {
    color: #262b40;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.72px;
    line-height: 70px;
}
    /*FOOTER*/